@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: #090909;
}

#nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0 5vw;
    /* padding-top: 5vh; */
}

#nav a {
    display: flex;
    align-items: center;
    color: #fff;
    /* font-weight: 600; */
    text-decoration: none;
}

#nav a i {
    margin-right: 10px;
}

#center {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center a {
    white-space: nowrap;
}

#center #logo {
    display: flex;
    align-items: center;
}

#center #logo img {
    width: 140px;
    margin: 0 20px;
}

#center #logo .line {
    width: 130px;
    height: 2px;
    background-color: #770000;
}

#hero {
    display: flex;
    width: 100%;
    min-height: 90vh;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vh;
    width: calc(100%/3);
    min-height: inherit;
    padding: 0 0 0 5vw;
    /* background-color: yellow; */
}

#left h1 {
    width: 100%;
    color: #fff;
    font-size: 3.8vw;
    line-height: 1;
    /* background-color: #770000; */
}

#left h1 span {
    color: #e71725;
    font-weight: 300;
}

#left p {
    width: 65%;
    line-height: 1.5;
    color: #fff;
    font-size: 0.8vw;
}

#button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#button-container a i {
    margin-right: 10px;
}

#button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: #e71725;
    font-size: 0.8vw;
    font-weight: 600;
    text-decoration: none;
}

#button-container > i {
    font-size: 1.5vw;
    font-weight: normal;
    color: #e71725;
}

#hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
    min-height: inherit;
}

#hcenter #tomb {
    position: relative;
    width: 70%;
    min-height: 70vh;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-image: url(../images/coca-cola__heroBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hcenter #tomb img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
}

#tomb #capsule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    top: 30%;
    right: -36%;
    width: 45%;
    height: 3.2vw;
    border-radius: 100px;
    background-color: rgb(20, 20, 20);
    padding: 0 25px 0 10px;
}

#tomb #capsule__photo {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80);
    background-size: cover;
    background-position: center;
}

#tomb #capsule h6 {
    color: #dbad62;
}

#right {
    position: relative;
    width: calc(100%/3);
    min-height: inherit;
}

#rbottom {
    position: absolute;
    bottom: 9vh;
    width: 80%;
    padding: 0 5vw;
}

#rbottom .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

#rbottom .row:nth-child(3) {
    border-bottom: none;
    padding-bottom: 0;
    opacity: 1;
}

#rbottom p {
    width: 80%;
    font-size: 0.6vw;
    color: #fff;
}

#rbottom #scroll {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #666;
    margin-top: 40px;
}

#rbottom #circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #666;
}